<nb-card>
  <nb-card-header></nb-card-header>
  <nb-card-body>
    <nb-button-group multiple>
      <button nbButton
              (click)="proximo('🥩')">🥩</button>
      <button nbButton
              (click)="proximo('😎')">😎</button>
      <button nbButton
              (click)="proximo('🤯')"> 🤯</button>
      <button nbButton
              (click)="proximo('💀')">💀</button>
      <button nbButton
              (click)="proximo('🐺')">🐺</button>
    </nb-button-group>
  </nb-card-body>
</nb-card>
